.movie{
    text-align:center;
    color: yellow;
    background-color: green;
    font-size: 45px;
}
.credits{
    color: red;
    text-align: center;
    font-size: 20px;
    
}
body{
    background-color: black;
}
.t{
    color: red;
    font-size: 20px;
}
.u{
    font-size: 20px;
}
.y{
    color: green;
    font-size: 20px;
}
.n{
    color: darkorchid;
    font-size: 20px;
}
.r{
    color: darkorchid;
    font-size: 20px;

}
.turn{
    border-bottom: 2px solid white;
    border-top: 2px solid white;
}
    


